Repository CETEN-OpenBar/openbar-public-client: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format --, rustfmt

ci: github actions
  .github/workflows/lint.yml
Due: none

ci: calling rustfmt and cargo manually
  .github/workflows/lint.yml
Due: none

ci: install tauri prerequisites
  .github/workflows/lint.yml
Due: none

style: prettier formatting
  .github/workflows/lint.yml
Due: none

chore: added .github folder to linter ignores
  .eslintignore
  .prettierignore
Due: none

ci: create mock build directory for cargo check
  .github/workflows/lint.yml
Due: none

build: basic app info
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: pnpm format --

refactor: removed tauri
  .lintstagedrc
  README.md
  package.json
  pnpm-lock.yaml
  src-tauri/.gitignore
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/lib/components/Greet.svelte
Due: pnpm format --, rustfmt

chore: removed formatting for rust
  .lintstagedrc
Due: none

ci: removed rust workflow
  .github/workflows/lint.yml
Due: none

ci: added build workflow
  .github/workflows/build.yml
Due: none

ci: renamed workflow
  .github/workflows/build.yml
Due: none

ci: typos
  .github/workflows/build.yml
Due: none

docs: extraneous word
  README.md
Due: none

[+] add daisyui
  package-lock.json
  package.json
  tailwind.config.cjs
Due: pnpm format --

[+] add carousel component
  package.json
  pnpm-lock.yaml
  src/lib/components/Carousel.svelte
  src/lib/components/Greet.svelte
  src/routes/+page.svelte
  src/routes/carousel/+page.svelte
  src/routes/status/+page.svelte
Due: pnpm format --

[+] add gpl v3 license
  LICENSE
Due: none

feat(carousel): wonderful slideshow
  src/lib/components/Carousel.svelte
Due: pnpm format --

[+] add start of shop layout
  src/app.html
  src/lib/constants/shop.ts
  src/lib/stores/shop.ts
  src/routes/shop/+layout.svelte
  src/routes/shop/[type]/+page.server.ts
  src/routes/shop/[type]/+page.svelte
Due: pnpm format --

[+] finish shop layout with navbar and mobile support
  src/lib/utils/index.ts
  src/lib/utils/titleCase.ts
  src/routes/cart/+page.svelte
  src/routes/shop/+layout.svelte
  src/routes/shop/[type]/+page.svelte
Due: pnpm format --

[~] change adapter to node and fix build issue
  package.json
  pnpm-lock.yaml
  src/routes/+layout.svelte
  src/routes/carousel/+page.svelte
  src/routes/cart/+page.svelte
  src/routes/shop/+layout.svelte
  src/routes/shop/+layout.ts
  src/routes/shop/[type]/+page.svelte
  svelte.config.js
Due: pnpm format --

Path conditions:
  pnpm format --: any of: *.{svelte,js,ts,html,css,cjs,json}
  rustfmt: any of: *.rs
